<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.lft.miaosha.dao.AddressMapper">
    <!-- List<Address> selectAllByUserId(@Param ("userId") Long userId); -->
    <select id = "selectAllByUserId"
            resultType = "com.lft.miaosha.entity.po.Address">
        SELECT *
            FROM address
            WHERE user_id = #{userId}
    </select>

    <!-- Address selectAddressByUserIdAndAddressId(@Param ("userId") Long userId, @Param ("addressId") Long addressId); -->
    <select id = "selectAddressByUserIdAndAddressId"
            resultType = "com.lft.miaosha.entity.po.Address">
        SELECT *
            FROM address
            WHERE user_id = #{userId} AND id = #{addressId}
    </select>

    <!-- Integer insertAddress(Address address); -->
    <insert id = "insertAddress"
            useGeneratedKeys = "true"
            keyProperty = "id"
            keyColumn = "id">
        INSERT INTO address(user_id, address_detail, gmt_created)
            VALUES (#{userId}, #{addressDetail}, #{gmtCreated})
    </insert>

    <!-- Integer updateAddressByIdAndUserId(Address address); -->
    <update id = "updateAddressByIdAndUserId">
        UPDATE address
        SET
            address_detail = #{addressDetail},
            gmt_modified   = #{gmtModified}
            WHERE id = #{id} AND user_id = #{userId}
    </update>

    <!-- Boolean deleteAddressById(@Param ("addressId") Long addressId); -->
    <delete id = "deleteAddressById">
        DELETE
            FROM address
            WHERE id = #{addressId}
    </delete>
</mapper>
