<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.lft.miaosha.dao.MiaoshaOrderMapper">
    <!--  MiaoshaOrder selectMiaoshaOrderByUserIdGoodsId(@Param ("userId") Long userId, @Param ("goodsId") Long goodsId); -->
    <select id = "selectMiaoshaOrderByUserIdGoodsId"
            resultType = "com.lft.miaosha.entity.po.MiaoshaOrder">
        SELECT *
            FROM miaosha_order
            WHERE user_id = #{userId} AND goods_id = #{goodsId}
    </select>

    <!-- Integer addMiaoshaOrder(OrderInfo orderInfo); -->
    <insert id = "addMiaoshaOrder">
        INSERT INTO miaosha_order(user_id, order_id, goods_id, gmt_created)
            VALUES (#{userId}, #{orderId}, #{goodsId}, #{gmtCreated})
    </insert>

    <!--  Integer reduceStock(MiaoshaGoods miaoshaGoods); -->
    <update id = "reduceStock">
        UPDATE miaosha_goods
        SET
            stock_count = #{stockCount}
            WHERE goods_id = #{goodsId}
    </update>
</mapper>
