<!DOCTYPE html>
<html lang="UTF-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>秒杀失败</title>
    </head>
    <body>
        <!-- 引入公共头部 -->
        <div class="panel panel-default">
            <div id="head" th:include="common/head :: common_head"></div>
        </div>
        秒杀失败: <p th:text="${errmsg}"></p>
        <a href="/goods/to/list">返回商品首页</a>
    </body>
</html>
